@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    /* colors  */
    --main-purple: #331044;
    --bg-blue: #0D162E;
    --shadow-clr:#1770F5;
    --txt-clr-grey:#62666E;

    /* typography
----------------------------------------------------------------- */
/* calculator found on @link https://utopia.fyi/ */

  /* Step p: 18.00px → 42.00px */
    --step-p: clamp(1.13rem, calc(0.13rem + 5.00vw), 2.63rem);
  /* Step 1: 28.00px → 82.00px */
    --step-h1: clamp(1.75rem, calc(1.08rem + 3.38vw), 5.13rem);
/* Step h2: 20.00px → 40.00px */
    --step-h2: clamp(1.25rem, calc(1.00rem + 1.25vw), 2.50rem);
}




/* global styles
---------------------------------------------------------------*/
body{
    margin: 0px 0px 65px 0px;
    padding: 0px;
    background-color: var(--bg-blue);
    min-height: 100vh ;
    width: 100vw;
}

main{
    margin-top: 10px;
    

}

a{
    text-decoration: none;
    color: #fff;
}

h1,h2,h3,h4,p{
    margin:0;
}

/* assets
--------------------------------------------------------------------- */
.cta{
    background-image: url(/images/icons/cta-button.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center,center;
    display: inline-block;
    padding:8px 20px;
    border-radius: 15px;
    /* margin inline auto to stop cta from growing inside grid container  */
    margin-inline: auto;
}

.add-to-cart-btn{
    background-image: url(/images/icons/shopping-cart.png);
    background-size: contain;
    background-position: center,center;
    background-repeat: no-repeat;
    background-color: #1875F3;
    display:inline-block;
    border-radius: 15px;
    /* to cancel out border on button input  */
    border-width: 0px;
    width: 50px;
    height: 38px;
    
}

.border-dropshadow{
    border: 1px solid rgba(65, 65, 65, 0.01);
    border-radius: 5%;
    padding-bottom: 10px;
    padding-inline: 10px;
    box-shadow: 0px 0px 13px rgba(23, 112, 245, 0.5);
     /* filter: drop-shadow(0 0 0.75rem rgb(29, 134, 175)) */
}

/* typography
----------------------------------------------------------------------- */
body{
    font-family:"open sans" ,"sans-serif", "";
}

h1{
    font-weight: bold;
    font-size: var(--step-h1);
    text-align: center;
    color: #fff;
    text-align: center;
}

h2{
    font-weight: 700;
    font-size:var(--step-h2);
    color: white;
    text-align: center;
}

p{
    color: var(--txt-clr-grey);
    font-size: var(--step-0);
    font-weight: 600;
    /* text-transform: capitalize; */

}



/* header and footer start 
------------------------------------------------ */
header{
    position: sticky;
    top: 0vh;
    background-color:var(--main-purple);
    display: flex;
    /* display: inline-flex; */
    justify-content: space-between;
    width: 100vw;
    z-index: 1;

}

.logo{

}

.search-bar{
max-height:20px;
margin: 20px 0px;
width: clamp(10px, 40vw, 1000px );
background-color: #ffffff;
display: none;
}

.icons-container{
    white-space: nowrap;
    /* display: none; */
}

.cart-icon{

}

.sign-in-icon{
    
}


/* remove display inline when finishing hamburger menu  */
nav li{
    display: inline;
}

/* go over flex settings here its just temporary */
.main--footer{  
    background-color:#000000;
    display: inline-flex;
    justify-content: center;
    width: 100%;

}




.social-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color:#000000;
    z-index: 1;
    padding-top: 10px;

}

.social-container p{
    margin: 5px 0px 3px 0px;
    color: #fff;

}

.social-icons{

}

.main--footer{
    

    
}
    

/* header and footer end  */

/* main section start 
----------------------------------------------------*/

/* index.html  
---------------------------------------------------*/

/* come back to this not finished */
.hero{

}


.hero-container{
    margin-inline: auto;
    margin-top: clamp(1vh, 5% 4vh);
    height:clamp(300px, 60vh, 800px);
    width:clamp(450px, 50vw, 800px);
    /* background-color: white; */
    border-radius: 100px;
    background-image:url("../images/hero-img1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    background-attachment: local;
    border-radius: 100px;
    background-color: #fff;

}


.hero-card1{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
height: 100%;


}

/* games.html
---------------------------------------- */
.product-container{
    width: min(80%, 1500px);
    /* maybe a solution for my grid with dropshaddow 
    background-color: red; */
    margin-inline: auto;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    row-gap:5vh;
    
}



.product-card{
    width: 300px;
    /* position relative to give relation to child element */
    position: relative;
}

.product-img{
    width:100%;
    border-radius: 50px;
}

.productcard-grid{
    /* background-color: #fff; */
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    grid-template-areas: 
    "genre genre "
    "price price "
    "cta cta-b ";
    row-gap: 5px;
    position: relative;
}

.productcard-grid >:nth-child(2){
    color: #fff;
    font-weight: 600;
    font-size: var(--step-h2);
}



.productcard-grid > :nth-child(1){
   grid-area:genre;
}

.productcard-grid > :nth-child(2){
    grid-area: price;
}

.productcard-grid > a {
    grid-area: cta;
}

.productcard-grid > button{
    grid-area: cta-b;
    /* child that needs relative parent */
    position: relative;
    right: 50px;
}


/* contact.html
---------------------------------------- */

/* checkout.html
----------------------------------------- */

/* cart.html
----------------------------------------- */

/* about.html
----------------------------------------- */

.about-container{
    width: min(90%, 800px);
    margin-inline: auto;
    margin-top: min(2vh , 2.5rem);
}

.about-card > h2{
    /* margin:5rem 0rem 2.5rem 0rem ; */
    margin-bottom: min(1vh , 2.5rem);

}


/* product.html
------------------------------------------ */
.game-container{
    width: min(90%,1600px);
    margin-inline: auto;
    display: grid;
    width:300px;

    
}


.product-img-container{
    /* display grid again to make subgrid */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-width: 300px;
}

.product-img-container > :nth-child(1){
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:1;
    grid-row-end:1;
    /* z-index: 3; */

}

.product-img-container > :nth-child(2){
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start:1;
    grid-row-end:1;
    /* z-index: 2; */
}

.product-img-container > :nth-child(3){
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start:1;
    grid-row-end:1;
    /* z-index: 1; */
}



.product-img-container > img{
width: 100px;
border-radius: 15px;
}
/* success.html
------------------------------------------- */


/* media queries
-------------------------------------------------------- */


/* main section end  */











